* {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Mulish', sans-serif; 
    
}

html,body{

    height: 100%;
}


thead,tr{

    text-align: center;
}

tbody,tr{

    text-align: center;
}


legend,label,h2,h1{

    color: #1b6dc1;
}


h4 {
    color: #fff;
}

h6{
    text-align: center;
}

.footer {
    color: #1b6dc1;
    
    bottom:0;
    width:100%;
    background-color:#FFF;
    border: solid 0.063rem #eee;
    font-size: 1.125rem;
    height: 4rem;


}

.admin{

    text-align: right;
}
.navbar-light{

    background-color: #fff;
    border: solid 0.063rem #eee;

}

.image-resize{

    width: auto;
    height: 300px;
    
    object-fit: scale-down;
}

.store{

    margin-top: 3.125rem;
}

.main-content{

    margin-top: 3.125rem;
    margin-bottom:  1.25rem;
}

.main-content-store{

    margin-top: 2.25rem;
    margin-bottom:  4.25rem;
    color: #1b6dc1;
}

.bt-container {
    text-align: center;

}

.navbar-nav > li >a{
    color: #1b6dc1 !important;
    font-size: 1.25rem;
}

.dropdown-item{

    font-size: 1.125rem;
}
.dropdown-item:hover{
    color: #1b6dc1 !important;
    font-size: 1.125rem;
}

.login-form{

    border: 0.063rem solid #eee;
    border-radius: 2.188rem;
}

h4{
    color: #1b6dc1;
    text-align: center;
}

a {
    text-decoration: none;
    color:  #1b6dc1;
}

.main-content-login{

    margin-top: 10.125rem;
    margin-bottom: 12.5rem;
    color: #1b6dc1;

}

.navigation{

    padding-right: 3rem;
    padding-left: 3rem;
}
.mr-n1 {
    margin-right: -4.25rem !important;
}

.mr-n2 {
    margin-right: -8rem !important;
}
.pl-1{
    padding-left: 8.25rem !important;
}

.adress {
    width: 9.375rem;
}

.card-title{

    text-align: center !important;
    font-size: 1.1rem !important;
    color: #1b6dc1 !important;
}
.card-text{

    text-align: center !important;
    font-size: 2rem !important;
    color: #1b6dc1 !important;
}



@media only screen  and (max-width: 49.938rem) {
    .lead{
        font-size: 0.8rem;
    }

    .navigation{

        padding-right: 0rem;
        padding-left: 0rem;
    }

    .mr-n2 {
    margin-right: 0rem !important;
    }

    .mr-n1 {
        margin-right: 0rem !important;
    }

    .pl-1{
        padding-left: 0.9rem !important;
    }

    .btn-mob{
        margin-top: 1rem;
    }

    .main-content-login{

        margin-top: 7rem;
        margin-bottom: 15rem;
        color: #1b6dc1;
        font-size: 0.8rem;
    }

    .footer {
    
        position: relative;
        margin-bottom: 0;

        
       
    }
  
    .main-content{

        margin-top: 1.125rem;
        margin-bottom:  1.25rem;
    }

    .store{

        margin-top: 1rem;
        
    }

    .mypic{

        width:300px;
        height:auto;
    }

    .img-fluid{

        width: 9.25rem;
    }
}

